.date{
    padding: 10px 30px;
}

h1{
    color: #8CC0DE;
    display: inline-block;
}

h2{
    color: #8cc0de94; 
}

.lastLine{
    max-width: 100%;
    position: relative;
}

.taskNumber{
   display: inline-block;
   position: absolute;
   right: 0; 
}

hr{
    color: #F4BFBF;
}



